body {
    font-family: Arial, sans-serif;
}

.menu-container {
    background-color: #0b0b2a;
    color: white;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 50px;
    position : absolute;
    left: 40px;
    top: 30px;
}

.menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu-title {
    font-size: 24px;
    margin: 10px;
}

.back-arrow {
    position: absolute;
    right : 40px;
}

.menu-divider {
    border: 1px solid white;
    margin: 20px 0;
}

.menu-items {
    list-style-type: none;
    padding: 0;
}

.menu-item {
    margin: 10px 0;
    font-size: 18px;
    color: #bfaaff;
    cursor: pointer;
}

.menu-item:hover {
    text-decoration: underline;
}

.submenu {
    list-style-type: none;
    padding-left: 20px;
}

.submenu li {
    font-size: 16px;
}

.submenu li:hover {
    text-decoration: underline;
}

.language-switcher {
    text-align: center;
    margin-top: 20px;
}

.language-switcher button {
    background-color: #4c4cff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.language-switcher button:hover {
    background-color: #3a3aee;
}